body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://www.shutterstock.com/shutterstock/photos/2009313029/display_1500/stock-photo-businesswoman-s-hand-filing-online-registration-form-on-laptop-2009313029.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 120vh;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}